* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

span {
  background-color: #fff;
  color: #000;
  padding: 1px;
}

$color1: #86FEB6;
$color2: #C25F5F;
$color3: #984480;

.card__purple-btn {
  background: $color3;
  color: #fff;
}

.card__simple-btn {
  background: $color1;
  color: #000;
}

.card__defualt-btn {
  background: $color2;
  color: #fff;
}

/* Developed by Alex Zolotarov */

.wrapper {
  display: grid;
  position: relative;
  max-height: 100vh;
  overflow-x: hidden;
}

/* Container */
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    background: #131313;
    font-family:'Helvetica Neue', sans-serif;
}

/* Name Menu */
.name-map__link {
  font-size: calc(80px + 16 * ((100vw - 320px) / (1280 - 320)));
  text-decoration: none;
  text-transform: uppercase;
  animation: rgb-name 2s linear infinite;
  animation-direction: alternate;
}

/* Menu */
.popover {
   display: none;
   box-shadow: 0px 6px 8px rgba(19, 19, 19, .7);
}

.popover:target {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  animation: 1s grow ease forwards;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  animation: 1s grow ease forwards;
  text-align: center;
}

.nav_list  {
  list-style-type: none;
}

.nav_list a {
  text-decoration: none;
  font-size: 40px;
  color: #fff;
}

.nav_list_item {
  height: 100%;
  overflow: hidden;
}

.nav_list li {
  padding: 15px 0;
  text-transform: uppercase;
  transform: translateY(200px);
  opacity: 0;
  animation: 1s slideUp ease forwards .5s;
  position: relative;
}

.nav_list li::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: 10px;
  background: #BF2E97;
  transition: all 1s ease;
}

.nav_list li:hover:before {
      width: 100%;
}

.popover p {
  padding: 50px;
  opacity: 0;
  animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-color: #BF2E97;
  color: #fff;
  content: "×";
  cursor: pointer;
  opacity: 0;
  animation: 1s fadeIn ease forwards .5s;
}

/* Animations */

@keyframes rgb-name {
  0% {
    color: #77d183;
  }
  100% {
    color: #008d8c;
  }
}

@keyframes grow {
  100% {
    height: 90%;
    width: 90%;
 }
}

@keyframes fadeIn {
100% {
  opacity: 1;
 }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideLeftHome {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes slideRight {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes slideRightHome {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

 @keyframes flow-x {
  0% {
    transform: translate(0, 0) rotate(45deg);
  }
  100% {
    transform: translate(0, -10%) rotate(45deg); 
  }
 }

/* About */

.button-back {
  top: 0;
  right: 0;
  position: absolute;
  background-color: #BF2E97;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-back:after {
  font-size: 30px;
  content: "×";
  cursor: pointer;
}

.about {
  transform: translate(-100%, 0);
  min-height: 100vh;
  min-width: 100vw;
  background-color: #000;
  position: absolute;
  color: #fff;
}

.about-active {
  animation: slideLeft .8s ease;
  animation-fill-mode: forwards;
}

.about-home {
  animation: slideLeftHome .8s ease;
  animation-fill-mode: forwards;
}

.about__wrapper {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  min-height: 100vh;
}

/* Hero */

.about__hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url('media/img/bg.jpg') no-repeat;
  z-index: -2;
}

.hero__bg {
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.hero__img img {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: cover;
  z-index: 1;
}

/* Content */

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__discr {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  transform: translate(0, -20px);
}

.content__title {
  font-size: calc(37px + 16 * ((100vw - 320px) / (1280 - 320)));
  line-height: 1.6;
  font-weight: 400;
}

.content__subtitle {
  font-size: calc(15px + 10 * ((100vw - 320px) / (1280 - 320)));
}

.about__stats {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.stats__bio {
  font-size: 16px;
  max-width: 720px
}

.button__github {
  padding: 8px 20px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  align-self: center;
  transform: translate(0, 20px);
  transition: .5s ease;
}

.button__github:hover {
  color: #000;
  background-color: #fff;
}

/* Portfolio */

.portfolio {
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translate(100%, 0);
  background: #111;
  color: #fff;
  font-family:'Helvetica Neue', sans-serif;
  .portfolio__title {
    display: flex;
    color: $color1;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 4%;
    margin-top: 5%;
    &:before {
      content: "";
      display: block;
      height: 36px;
      width: 10px;
      background: red;
      margin-right: 2%;
    }
  }
  .portfolio__window {
    position: relative;
    width: 898px;
    height: 517px;
    background-color: #222222;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-left: 10%;

    .window__buttons {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      max-width: 8%;
      margin: 2%;
      .w-btn {
        background-color: #fff;
        height: 15px;
        width: 15px;
        border-radius: 15px;
      }
      .w-btn:nth-child(1) {
        position: fixed;
        background: red;
      }
      .w-btn:nth-child(2) {
        background: yellow;
        position: fixed;
        transform: translate(25px, 0);
      }
      .w-btn:nth-child(3) {
        background: green;
        position: fixed;
        transform: translate(50px, 0);
      }
    }
    .window__content {
      top: 0;
      margin-top: 30px;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;

      .window__card {
        position: relative;
        height: 208px;
        width: 600px;
        margin: 1%;
        background: #303030;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card__title {
          display: inline-block;
          margin-top: 20px;
          margin-left: 41px;
          align-self: flex-start;
          font-size: 30px;
          &:after {
            content: "";
            display: block;
            height: 5px;
            width: 100%;
            background: $color1;
          }
        }
        .card__topics {
          align-self: flex-end;
          list-style-type: none;
          margin-right: 71px;     
          .card__topic {
            font-size: 20px;
            display: flex;
            justify-content: flex-end;
            &:after {
              content: "";
              display: block;
              align-self: center;
              height: 7px;
              width: 7px;
              border-radius: 10px;
              margin: 8px;
              background: #fff;
            }
          }
          .card__topic:nth-chlid(1) {
            &:after {
              background: red ;
            }
          }
        }
        .card__btn {          
          position: absolute;
          bottom: 0;
          margin-bottom: 23px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          text-transform: uppercase;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          height: 32px;
          width: 185px;
          transition: all .3s ease;
          &:hover {
            color: $color1;
          }
        }
      }
    }
  }
  .d-element:nth-child(1) {
    position: absolute;
    left: 20%;
    display: block;
    color: #fff;
    transform: rotate(55deg);
    font-size: 6rem;
  }
  .d-element:nth-child(2) {
    position: absolute;
    left: 10%;
    top: 70%;
    display: block;
    color: #fff;
    font-size: 3rem;

    transform: rotate(35deg);

  }
  .d-element:nth-child(3) {
    position: absolute;
    display: block;
    color: #fff;
    right: 10%;
    font-size: 4rem;
  }
  .d-element:nth-child(4) {
    position: absolute;
    display: block;
    color: #fff;
    top: 10%;
    left: 40%;
    font-size: 3rem;
    transform: rotate(48deg);
  }
  .d-element:nth-child(5) {
    position: absolute;
    display: block;
    color: #fff;
    top: 10%;
    right: 20%;
    font-size: 5rem;
    transform: rotate(28deg);
  }
  .d-element:nth-child(6) {
    position: absolute;
    display: block;
    color: #fff;
    bottom: 1%;
    right: 20%;
    font-size: 2rem;
    transform: rotate(28deg);
  }
  .d-element {
    animation: flow-x .8s ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.portfolio-active {
  animation: slideRight .8s ease;
  animation-fill-mode: forwards;
}

.portfolio-home {
  animation: slideRightHome .8s ease;
  animation-fill-mode: forwards;
}

/* Mobile */

@media (max-width: 800px) {
  /* Name Map */
  .name-map__link {
    font-size: 50px;
  }
  .about__wrapper {
    display: grid;
    grid-template: 1fr .6fr / 1fr ;
    min-height: 100vh;
  }   
  .stats__bio {
    font-size: 12px;
  }
 /* Portfolio */
  .portfolio {
    .portfolio__window {
      transform: translate(0, 5%);
      width: 90%;
      .window__buttons {
        position: absolute;
      }
      .window__content {
        width: 100%;
        .window__card {
          width: 80%;
          .card__title {
            align-self: center;
            margin: 10px;
          }
          .card__topics {
            align-self: center;
            margin: 10px;
          }
          .card__btn {
            align-self: center;
            margin: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
 .name-map__link {
   font-size: 40px;
   display: flex;
   flex-direction: column;
   text-align: center;
 }
}

